{% extends "base.html" %}
{% block content %}
<h3>Empréstimo - {{ livro.titulo }}</h3>

<form method="post">
  <label>Nome do aluno *</label>
  <input type="text" name="nome_aluno" class="form-control mb-2" required>

  <label>Série</label>
  <input type="text" name="serie" class="form-control mb-2">

  <label>Data do empréstimo *</label>
  <input type="date" name="data_emprestimo" class="form-control mb-2" required>

  <label>Data prevista de devolução *</label>
  <input type="date" name="data_prevista" class="form-control mb-3" required>

  <button class="btn btn-success" type="submit">Confirmar empréstimo</button>
  <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
