{% extends "base.html" %}
{% block content %}
<h2 class="mb-3">Biblioteca Marista</h2>

<a href="{{ url_for('novo_livro') }}" class="btn btn-success mb-3">+ Cadastrar novo livro</a>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Autor</th>
      <th>Editora</th>
      <th>Disponíveis</th>
      <th>Devolução</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for l in livros %}
    <tr>
      <td>{{ l.id }}</td>
      <td>
        <a href="{{ url_for('emprestar', livro_id=l.id) }}">{{ l.titulo }}</a>
      </td>
      <td>{{ l.autor or '-' }}</td>
      <td>{{ l.editora or '-' }}</td>
      <td>{{ l.quantidade_disponivel }}</td>
      <td>
        {% if l.status == 'EM_ABERTO' %}
          {{ l.data_prevista_devolucao | data_br }}
          <br><small>({{ l.nome_aluno }})</small>
        {% else %}
          —
        {% endif %}
      </td>
      <td>
        <a href="{{ url_for('editar_livro', livro_id=l.id) }}" class="btn btn-sm btn-primary">Editar</a>
        <form method="post" action="{{ url_for('devolver', livro_id=l.id) }}" style="display:inline;">
          <button class="btn btn-sm btn-success" type="submit">Dar baixa</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
